# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
coverage/

# PWA
service-worker.js
workbox-*

# OS
.DS_Store
Thumbs.db

# Env & secrets
.env
.env.local
.env.production
.env.development
.env.test

# IDEs
.vscode/
.idea/
*.swp

# Misc
*.log
*.lock
*.tmp

# TypeScript cache (optional)
*.tsbuildinfo

node_modules/
.next/